footer {
    font-family: 'Roboto';
    width: 100%;
    background-color: #000000cc;
        
        h3 {
            font-family: 'Shrikhand';
            color: white;
            padding: 20px 0px 0px 20px;
            font-size: 20px;
            font-weight: 100;
        }

        div {
            display: flex;
            flex-direction: column;
            font-weight: 500;

            i {
                width: 16px;
                margin-right: 14px;
                text-align: center;
                color: white;
                
            }
        }

        a {
            font-weight: 300;
            color: white;
            text-decoration: none;
            padding: 0px 0px 11px 21px;
        }

        .text {
            font-weight: 500;
        }
}

